<h1>Translator</h1>

{% set iconUrl = view.getAssetManager().getPublishedUrl('@translator/assets/translatorUtility/dist', true) ~ '/img/translatorUtility-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>Your Utility content goes here</p>

<p>{{ someVar }}</p>